/* .banner {
  height: 48vh;
  position: relative;
  border-radius: 16px;
  justify-content: space-around;
  margin: 0 12px;
}
.banner__img {
  height: -webkit-fill-available;
  max-width: inherit;
  min-width: -webkit-fill-available;
  border-radius: 16px;
  background-size: cover;
}
.banner__content {
  color: #ffffff;
  padding: 10px;
  width: fit-content;
  display: flex;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.banner__search {
  padding: 10px;
  width: 540px;
  display: flex;
  background-color: #ffffff;
  position: absolute;
  top: 30px;
  border-radius: 999px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.banner__search > input {
  border: none;
  width: 100vw;
  font-size: 14px;
}
.banner__search > input:focus {
  outline-width: 0;
}
.banner__search__icon:hover {
  cursor: pointer;
} */
