.dubaiLocation {
  margin: 20px 0;
}
.dubaiLocation > div {
  margin-bottom: 20px;
}
.dubaiLocation__card {
  height: fit-content;
  display: block;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}

.dubaiLocation__img {
  height: 180px;
  max-width: -webkit-fill-available;
  min-width: -webkit-fill-available;
  border-radius: 16px 16px 0 0;
}
.dubaiLocation__data {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  display: block;
}
.dubaiLocation__data__contents > h6 {
  margin: unset;
  text-transform: uppercase;
}
.dubaiLocation__description {
  margin-top: 5px;
  display: flex;
  margin-left: -4px;
}
.dubaiLocation__description > p {
  font-weight: 600;
  font-size: 13px;
  margin: 0px;
}
.dubaiLocation__data > p {
  font-size: 12px;
  margin: 2px 0 0 0;
}

.dubaiLocation__data__contents {
  display: flex;
  justify-content: space-between;
}
.dubaiLocation__data__contents > a {
  text-decoration: none;
  color: inherit;
}
.dubaiLocation__data__contents__icon {
  cursor: pointer;
  font-size:32px !important
}
