.dubaiLocation {
  margin: 20px 0;
}
.dubaiLocation > div {
  margin-bottom: 20px;
}
.dubaiLocation__card {
  height: fit-content;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.15);
  display: block;
  border-radius: 10px;
  border: 0.5px solid rgb(0, 0, 0, 0.1);
}

.dubaiLocation__img {
  height: 180px;
  max-width: -webkit-fill-available;
  min-width: -webkit-fill-available;
  border-radius: 8px 8px 0 0;
}
.dubaiLocation__data {
  padding: 10px;
  display: block;
}
.dubaiLocation__data > h4 {
  margin: unset;
}
.dubaiLocation__description {
  margin-top: 10px;
  display: flex;
}
.dubaiLocation__description > p {
  font-weight: bold;
  margin-bottom: 10px;
}
.dubaiLocation__description > p,
.dubaiLocation__data > p {
  font-size: 12px;
  margin: 2px 0 0 0;
}

.dubaiLocation__data__contents {
  display: flex;
  justify-content: space-between;
}
.dubaiLocation__data__contents > a {
  text-decoration: none;
  color: inherit;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
