.exploreLocation {
  margin: 40px;
}
.exploreLocation > .banner {
  margin-bottom: 30px;
}
.exploreLocation__category {
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.exploreLocation__category__buttons {
  display: flex;
  align-items: center;
}
.exploreLocation__createTrip {
  border: 1px solid rgb(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px 1px rgba(65, 47, 47, 0.1);
  padding: 6px 12px;
  width: fit-content;
  border-radius: 999px;
  margin-right: 20px;
  color: #252525;
  font-weight: 500;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.exploreLocation__createTrip:hover {
  color: #ffffff;
  background-color: #5969ff;
  transform: scale(1.05);
}
.exploreLocation__addTrip {
  border: 1px solid rgb(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px 1px rgba(65, 47, 47, 0.1);
  padding: 6px 12px;
  width: fit-content;
  border-radius: 999px;
  margin-right: 20px;
  color: #ffffff;
  font-weight: 500;
  background-color: #5969ff;
  display: flex;
  align-items: center;
}
.exploreLocation__addTrip:hover {
  transform: scale(1.05);
}
.exploreLocation > h5 {
  margin: 16px;
  text-transform: uppercase;
}
