/* .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 0 20px;
  margin-top: 15%;
  border: none;
  border-top: 2px solid rgb(68, 67, 67, 0.2);
}
.footer > h6 {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  margin: 0;
  color: rgb(110, 117, 124, 0.7);
}
.footer__socialMedia {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  color: rgb(110, 117, 124, 0.7);
} */
