/* .storyBook {
  
} */

.storyBook {
  margin: 40px;
}
.storyBook__row {
  display: flex;
  margin-right: 30px !important;
  margin-left: 30px !important;
  object-fit: contain;
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}
.storyBook__row > img,
.storyBook__img {
  height: 194px;

  cursor: pointer;
}

.storyBook__img {
  margin: 1px;
}

/* .storyBook_imgEnd {
  margin-right: 40px !important;
  position: inherit;
}
.storyBook_imgStart {
  margin-left: 40px !important;
} */
