.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background: #fafafb;
}
.tranparentHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background: transparent;
}
.header__logo {
  padding-left: 28px;
}
.header__nav {
  display: flex;
  align-items: center;
  flex: 1;
  /* max-width: fit-content; */
  padding: 0 10px;
  height: 30px;
  justify-content: space-around;
  max-width: 30vw;
  margin-left: -45%;
  margin-top: 0.5%;
}
.header__nav > a {
  text-align: -webkit-center;
}
.header__nav__active {
  border-bottom: 4px solid #5969ff;
  width: 40px;
  text-align: center;
  margin-left: 6px;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 40px;
}
.header__right__buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  margin-right: 20px;
}
.header__signIn_btn {
  background-color: #5969ff;
  color: #ffffff;
}
.header__login_btn {
  background-color: transparent;
  color: #272343;
}
.header__right__buttons > button {
  border-radius: 16px;
  border: none;
  outline: none;
  height: 40px;
  width: 108px;
  font-size: 16px;
  font-weight: 500;
}
.header__user {
  height: 40px;
  max-width: inherit;
  min-width: 40px;
  border-radius: 999px;
}
a {
  text-decoration: none;
  color: black;
}
