.location {
  margin: 20px 0;
}
.location > div {
  margin-bottom: 20px;
}
.location > div > a {
  text-decoration: none;
  color: inherit;
}
.location__card {
  height: fit-content;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  display: block;
}
.location__card:hover {
  cursor: pointer;
  transform: scale(1.05);
}
.location__img {
  height: 180px;
  max-width: -webkit-fill-available;
  min-width: -webkit-fill-available;
  border-radius: 16px 16px 0 0;
}
.location__data {
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  display: block;
}
.location__data > h6 {
  margin: unset;
  text-transform: uppercase;
}
.location__description {
  margin-top: 10px;
  display: flex;
  margin-left: -4px;
}

.location__data > p {
  font-size: 12px;
  margin: 2px 0 0 0;
}
.location__description > p {
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 5px;
}
