.myTrips {
  margin: 40px;
}
.mainContainer {
  height: fit-content;
}
.search__border {
  border: 2px solid rgba(39, 35, 67, 0.1);
  box-sizing: border-box;
  border-radius: 100px;
  height: 52px;
}

.search__input {
  margin-top: 10px;
  border: none;
  outline-color: #fff;
  min-width: 90%;
  max-width: 90%;
  text-align: left;
  vertical-align: middle;
  padding-left: 26px;
}

.search__input:focus {
  outline: none;
}

.searchIcon {
  margin-top: 10px;
}

.search__sort {
  margin-top: auto;
  margin-bottom: auto;
  text-align: end;
}

.sort__icon {
  transform: rotate(90deg);
  height: 30px;
}

.trip__tabs {
  margin-top: 30px;
}
.trip__upcoming {
  transition: transform 150ms ease-out;
}
.trip__upcoming:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.trip__completed {
  transition: transform 150ms ease-out;
}
.trip__completed:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.trip__create {
  text-align: end;
}

.trip__detailComponent {
  border: 1px solid black;
  height: 70vh;
  position: relative;
}

.trip__cards {
  margin-top: 30px;
}

.trip__card {
  margin-top: 10px;
}

.myTrips__details {
  padding-left: 50px;
  margin-top: 10px;
}
.myTrips__details__container {
  border: 1px solid rgb(0, 0, 0, 0.15);
  border-radius: 6px;
  box-shadow: 1px 1px 2px 2px rgba(65, 47, 47, 0.12);
  padding-left: 40px;
}
.myTrips__details__container__nav {
  display: flex;
  padding: 10px;
}
.myTrips__details__container__nav > button {
  background-color: transparent;
  border: none;
  width: fit-content;
  padding: 0;
  margin-right: 20px;
}
.myTrips__details__container__data {
  margin-left: 10px;
}
.myTrips__details__container__data__nav {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.trip__upcoming > h6,
.trip__completed > h6 {
  opacity: 0.5;
}

.upcomingH--active {
  opacity: 1 !important;
}
