.newTripDetails__container {
  background: #ffffff;
  height: 72.5vh;
  border: 1px solid rgba(89, 105, 255, 0.24);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 30px;
}
.newTripDetails__dateInput > input {
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  width: 100px;
  cursor: none;
}
.newTripDetails__dateInput {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 999px;
  width: fit-content;
  height: 42px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-left: 12px;
  box-shadow: 1px 1px 2px 2px rgba(65, 47, 47, 0.12);
  margin-top: 30px;
}
.newTripDetails__dateInput,
.newTripDetails__dateInput > input:hover {
  cursor: pointer;
}
.newTripDetails__container > h5 {
  margin-top: 20px;
  margin-left: 10px;
}
.newTripDetails__locationList {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}
.newTripDetails__locationList > div {
  display: flex;
  justify-content: flex-start;
  width: 200px;
}
.newTripDetails__locationList > div > h6 {
  margin-left: 20px;
  width: 150px;
}
.newTripDetails__vertical {
  height: 52px;
  width: 1px !important;
  border: 1px solid #000000;
  margin-left: 11px;
}
.newTripDetails__locationList__joinPoint {
  padding-left: 3px;
  margin-top: 3px;
  font-size: 20px !important;
}
.newTripDetails__locationList__addLocations,
.newTripDetails_inviteFriends {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  margin-left: 3px;
}
.newTripDetails__locationList__addLocations:hover,
.newTripDetails_inviteFriends:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #0645ad;
}
.newTripDetails__locationList__addLocations > p,
.newTripDetails_inviteFriends > p {
  margin: 0;
}
.newTripDetails__friends {
  margin-bottom: 50px;
  margin-top: 15px;
}
.newTripDetails__friends > h5 {
  margin-top: 20px;
  margin-left: 8px;
}
