.tripCard {
  margin-top: 10px;
  background: #fffffe;
  border: 1px solid #f0eeee;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 0px;
  margin-right: 0px;

  position: inherit;
  justify-content: inherit;
  flex-direction: inherit;
}

.tripCard:hover {
  cursor: pointer;
  border-bottom: 7px solid #4658fc;
  border-radius: 20px;
}

.tripCard__cardImg {
  height: fit-content;
  padding: 0%;
}

.tripCard__cardImg > img {
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  max-width: -webkit-fill-available;
  min-width: -webkit-fill-available;
  height: 130px;
}

.tripCard__details {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
}
.tripCard__details__tripName {
  font-size: 17px;
  font-weight: 500;
}
.tripCard__details > p {
  padding: 0;
  margin: 0%;
}

.tripCard__options {
  margin-top: 10px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.tripCard__userImgs {
  margin-top: 15px;
}
.tripCard__userImg,
.tripCard__userImg1 {
  height: 35px;
  transition: transform 150ms ease-out;
}

.tripCard__userImg:hover {
  height: 40px;
  margin-right: 10px;
  transform: scale(1.2);
}
.tripCard__userImg1 {
  margin-left: -17px;
  transform: scale(1.2);
}

.tripCard__userImg1:hover {
  margin-left: 0px;
  height: 40px;
  margin-right: 10px;
}
