.tripDetailsNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tripDetailsNav--active {
  opacity: 1 !important;
}
.tripDetailsNav__right {
  display: flex;
}
.tripDetailsNav > div > button {
  font-weight: 600;
  background-color: transparent;
  border: none;
  width: fit-content;
  padding: 0;
  margin-right: 40px;
  opacity: 0.5;
}
.tripDetailsNav__upload {
  display: flex;
  align-items: center;
  border: 1px solid rgb(0, 0, 0, 0.15);
  box-shadow: 1px 1px 2px 2px rgba(65, 47, 47, 0.1);
  padding: 6px 12px;
  width: 100px;
  border-radius: 10px;
  margin-right: 20px;
  justify-content: space-between;
  color: #252525;
}
.tripDetailsNav__upload:hover {
  background-color: #5969ff;
  color: #ffffff;
  cursor: pointer;
}
.tripDetailsNav__upload > i {
  font-weight: 900 !important;
}
.tripDetailsNav__upload > i::before {
  font-weight: 900 !important;
}
.tripDetailsNav__upload > h6,
input {
  margin-top: 3px;
}
.tripDetailsNav__right > select {
  border: 1px solid rgb(0, 0, 0, 0.15);
  box-shadow: 1px 1px 2px 2px rgba(65, 47, 47, 0.1);
  border-radius: 10px;
  padding: 0 6px;
  font-weight: 500;
  outline: none;
  color: #252525;
  cursor: pointer;
  padding-bottom: 6px;
  width: 100px;
}
